* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #0d0d0d;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 30px;
    font-family: Arial, sans-serif;    
    font-weight: bold;
    color: #757575;
    padding-left: 10px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  
  .btn.twitter {
    background-color: #1da1f2;
    color: #fff;
  }
  
  .btn.discord {
    background-color: #7289da;
    color: #fff;
  }
  
  .btn.games {
    background-color: #FF2449;
    color: #fff;
  }
  
  .btn:hover {
    transform: translateY(-2px);
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
  }
  
  .game-info {
    background-color: #161616;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    
  }
  
  .game-info img {
    height: 370px;
    margin-bottom: 20px;
  }
  
  .game-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .game-info p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btn.pre-order {
    background-color: #27ae60;
    color: #fff;
  }
    
    footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }
    
    footer p {
    font-size: 18px;
    text-align: center;
    }
    
    @media screen and (max-width: 768px) {
    .nav-links {
    display: none;
    } 
  }